.handshake-background {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-evenly;
}

.window-handshake {
  background-color: black;
  width: 70em;
  height: 50em;
  border: 2pt solid white;
  align-self: flex-start;
}

.shadow-handshake {
  position: relative;
}

.shadow-handshake:after {
  background: linear-gradient(45deg, #221e22 0%, #221e22 5%,transparent 5%, transparent 10%, #221e22 10%, #221e22 15%,transparent 15%,transparent 20%, #221e22 20%, #221e22 25%,transparent 25%,transparent 30%, #221e22 30%, #221e22 35%,transparent 35%,transparent 40%, #221e22 40%, #221e22 45%,transparent 45%,transparent 50%, #221e22 50%, #221e22 55%,transparent 55%,transparent 60%, #221e22 60%, #221e22 65%,transparent 65%,transparent 70%, #221e22 70%, #221e22 75%,transparent 70%,transparent 80%, #221e22 80%, #221e22 85%,transparent 85%,transparent 90%, #221e22 90%, #221e22 95%,transparent 95%);
  background-size: 2em 2em;
  background-color: #ffffff;
  opacity: 1;
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  left: 7px;
  top: 8px;
  z-index: -1;
}

.shadowPlus4-handshake:after {
  height: calc(100% + 3pt);
  width: calc(100% + 3pt);
}

.title-handshake {
  font-size: 30pt;
  padding: 0.5em;
  width: 5.2em;
}

.window-body-handshake {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.table {
  width: 95%;
  margin-top: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

.table-container {
  height: 35em;
  overflow: auto;
  scrollbar-color: white black;
  border: 1pt solid white;
}

.table-container table {
  border: none;
}

.under-table {
  justify-self: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-top: 2em;
}

.under-table button {
  font-size: 20pt;
  padding: 0.2em 0.5em;
  cursor: pointer;
  font-family: 'LeviWindows';
  color: white;
  background-color: black;
  border: 1pt solid white;
  transition: background-color 0.3s ease;
}

.under-table button:hover {
  background-color: white;
  color: black;
}

.under-table input {
  font-size: 20pt;
  padding: 0.2em 0.5em;
  font-family: 'LeviWindows';
  width: 10em;
  background-color: black;
  color: white;
}

.under-table input:focus {
  outline: none;
}

th, td {
  padding: 1em 0;
  text-align: center;
  width: 33%;
}

.status-awaiting {
  background-color: #7e2e84;
  color: black;
}

.status-in-progress {
  background-color: #9ba2ff;
  color: black;
}

.status-cracked {
  background-color: #a1e887;
  color: black;
}

.status-exhausted {
  background-color: #e09f3e;
  color: black;
}

.status-failed {
  background-color: #c32f27;
  color: black;
}

.other {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.upload p {
  font-size: 25pt;
  padding: 0;
  margin: 0;
}

.drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin: 1em 0;
  width: 20em;
  height: 15em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drag-active {
  border-color: #007bff;
  background-color: #e9f7ff;
  color: #221e22;
}

.upload-label {
  font-size: 20pt;
}

.upload-message {
  margin-top: 1em;
}

.api {
  font-size: 25pt;
}

.key-text {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10pt;
  position: relative;
  bottom: 0.3em;
}

.copy-button {
  padding: 0.1em;
  border: 1px solid white;
  margin-left: 0.2em;
  cursor: pointer;
}

@media screen and (max-width: 1500px) {
  .other {
    flex-direction: row;
    margin-top: 2em;
    justify-content: space-around;
  }
  .handshake-background {
    flex-direction: column;
  }
  .window-handshake {
    width: 50em;
    height: 37em;
    align-self: center;
  }
  .title-handshake {
    width: 5.4em;
  }
  .drop-area {
    width: 15em;
    height: 5em;
    margin-top: 0.5em;
  }
  .api {
    font-size: 20pt;
  }
  .table-container {
    height: 24em;
  }
  
}

@media screen and (max-width: 768px) {
  .window-handshake {
    width: 20em;
    height: 25em;
  }

  .table-container {
    height: 15em;
  }
  .drop-area {
    width: 5em;
    height: 3em;
  }
  .api {
    font-size: 15pt;
    width: 9.1em;
  }
  .upload-label {
    font-size: 15pt;
  }
  th, td {
    font-size: 5pt;
  }
  .title-handshake {
    font-size: 15pt;
    width: 9.1em;
  }

  .upload p {
    font-size: 15pt;
  }

  .under-table button {
    font-size: 15pt;
  }
  .under-table input {
    width: 5em;
  }
  .copy-button{
    display: none;
  }
  
}