table {
  width: 90vw;
  border-collapse: collapse;
  margin: auto;
}

th, td {
  padding: 1em;
  text-align: center;
}

.status-awaiting {
  background-color: #7e2e84;
}

.status-in-progress {
  background-color: #9ba2ff;
}

.status-cracked {
  background-color: #a1e887;
  color: black;
}

.status-exhausted {
  background-color: #e09f3e;
  color: black;
}

.status-failed {
  background-color: #c32f27;
  color: black;
}
  