.home-container {
  align-self: center;
  justify-self: center;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-home {
  font-size: 100pt;
  margin: 0;
}
.desc {
  font-size: 25pt;
  text-align: justify;
}

.login-link {
  padding: 10px 20px;
  font-size: 25pt;
  color: #fff;
  background-color: 221e22;
  text-decoration: none;
  border: 1px solid white;
  transition: background-color 0.3s ease;
}

.login-link:hover {
  background-color: white;
  color: black;
}