.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
}

.navbar-brand{
    color: white;
    text-decoration: none;
    font-size: 5pt;
}

.navbar-brand:hover{
    color: gray;
}

.navbar-brand pre {
    margin: 0;
}

hr {
    width: 100%;
    overflow:hidden;
    border: none;
    margin-top: -0.5em;
}

hr:after {
    content:"________________________________________________________________________________________________________";
    letter-spacing: 1em;
}

.navbar-button {
    background-color: #221e22;
    color: white;
    border: 1pt solid white;
    cursor: pointer;
    font-family: 'LeviWindows';
    font-size: 20pt;
    padding: 0em 0.7em;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar-button:hover{
    color: #221e22;
    background-color: white;
}

@media screen and (max-width: 768px){
    .navbar-brand{
        font-size: 3pt;
    }
    .navbar{
        padding: 1em;
    }
    hr {
        margin-top: -1em;
    }
    hr:after {
        content:"_________________________________________";
        letter-spacing: 1em;
        font-size: 5pt;
        text-align: center;
    }
}
