.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  
  .not-found-image {
    max-width: 100%;
    height: auto;
    width: 400px;
    margin-bottom: 20px;
  }
  
  .not-found-title {
    font-size: 40pt;
    color: #333;
    margin-bottom: 10px;
  }
  
  .not-found-container p {
    font-size: 30pt;
    color: #555;
  }

@media screen and (max-width: 768px) {
    .not-found-title {
      font-size: 30pt;
    }

    .not-found-container {
      justify-content: flex-start;
    }
  
    .not-found-container p {
      font-size: 20pt;
    }
  
}
  